            <div class="container mt-4" style=" width:100%;">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Select Customer</mat-label>
                            <mat-select>
                              <mat-option value="one">Simon</mat-option>
                              <mat-option value="two">Andrews Jacob</mat-option>
                              <mat-option value="three">Simon Arnold</mat-option>
                              <mat-option value="four">Jack Sparrow</mat-option>
                              <mat-option value="five">Flecther</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3 mt-2">
                        <mat-form-field class="example-full-width" style="width:100%">
                            <mat-label>Customer Id</mat-label>
                            <input matInput readonly = 'true' value="RSS20219876">
                          </mat-form-field>
                    </div>
                </div>
                <mat-label class="bed" style="font-size: large;">Bed</mat-label>
                <mat-divider [inset]='true' class="mb-3"></mat-divider>
               

                <mat-list role="list" *ngIf = "windows>800" >
                  <mat-list-item role="listitem" class="my-5 "  *ngFor = "let item of items">
                    <div class="row">
                      <div class="col">
                        <mat-form-field style="width: 150px;">
                          <mat-label>Type</mat-label>
                          <mat-select >
                            <mat-option value = "Alter">Alter</mat-option>
                            <mat-option value = "New">New</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field style="width: 150px;">
                          <mat-label>Condition</mat-label>
                          <mat-select >
                            <mat-option value = "20%">20%</mat-option>
                            <mat-option value = "40%">40%</mat-option>
                            <mat-option value = "60%">60%</mat-option>
                            <mat-option value = "80%">80%</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field style="width: 150px;">
                          <mat-label>Cloth</mat-label>
                          <mat-select >
                            <mat-option value = "HandLoom">HandLoom</mat-option>
                            <mat-option value = "Printed">Printed</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width" style="width: 150px;">
                          <mat-label>Width (inches)</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width" style="width: 150px;">
                          <mat-label>Length (inches)</mat-label>
                          <input matInput type="text">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width" style="width: 150px;">
                          <mat-label>Thickness (inches)</mat-label>
                          <input matInput type="text">
                        </mat-form-field>
                      </div>
      
                    </div>
                  </mat-list-item>
            
                  <p class=" d-flex justify-content-end mb-3">
                    <mat-icon class="mt-3" style="color: seagreen;" (click)="add()">add_circle</mat-icon>&nbsp;&nbsp;
                    <mat-icon class="mt-3" style="color:#DC143C	;" (click)="remove()">highlight_off</mat-icon>
                  </p>
                </mat-list>
                <div class="" *ngIf = "windows<800" >
                  <div class=""  *ngFor = "let item of items">
                  <div class="row">
                    <div class="col">
                      <mat-form-field style="width: 150px;">
                        <mat-label>Type</mat-label>
                        <mat-select >
                          <mat-option value = "Alter">Alter</mat-option>
                          <mat-option value = "New">New</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field style="width: 150px;">
                        <mat-label>Condition</mat-label>
                        <mat-select >
                          <mat-option value = "20%">20%</mat-option>
                          <mat-option value = "40%">40%</mat-option>
                          <mat-option value = "60%">60%</mat-option>
                          <mat-option value = "80%">80%</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field style="width: 150px;">
                        <mat-label>Cloth</mat-label>
                        <mat-select >
                          <mat-option value = "HandLoom">HandLoom</mat-option>
                          <mat-option value = "Printed">Printed</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="example-full-width" style="width: 150px;">
                        <mat-label>Width (inches)</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="example-full-width" style="width: 150px;">
                        <mat-label>Length (inches)</mat-label>
                        <input matInput type="text">
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="example-full-width" style="width: 150px;">
                        <mat-label>Thickness (inches)</mat-label>
                        <input matInput type="text">
                      </mat-form-field>


                    </div>
    
                  </div>
                  
                </div>
                <p class=" d-flex justify-content-end mb-3">
                  <mat-icon class="mt-3" style="color: seagreen;" (click)="add()">add_circle</mat-icon>&nbsp;&nbsp;
                  <mat-icon class="mt-3" style="color:#DC143C	;" (click)="remove()">highlight_off</mat-icon>
                </p>
              </div>


                <mat-label class="bed" style="font-size: large;">Pillow</mat-label>
                <mat-divider class="mb-5" [inset]="true"></mat-divider>
                
            

                
                  <div role="listitem" *ngFor = "let item of items">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>Type</mat-label>
                          <mat-select >
                            <mat-option value = "Alter">Alter</mat-option>
                            <mat-option value = "New">New</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      
                      <div class="col-md-6">
                        <mat-form-field  class="w-100">
                          <mat-label>Size</mat-label>
                          <mat-select >
                            <mat-option value = "Small">Small</mat-option>
                            <mat-option value = "Medium">Medium</mat-option>
                            <mat-option value="Large">Large</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
      
                    </div>
                  </div>
            
                  <p class=" d-flex justify-content-end mb-3">
                    <mat-icon class="mt-3"  style="color: seagreen;" (click)="add()">add_circle</mat-icon>&nbsp;&nbsp;
                    <mat-icon class="mt-3" style="color:#DC143C	;" (click)="remove()">highlight_off</mat-icon>
                  </p>
              

                  <div class="row mb-5">
                    <div class="col d-flex justify-content-end">
                      <button mat-raised-button class="bg-success">Submit</button>
                    </div>
                    <div class="col">
                      <button mat-raised-button class="bg-danger">Cancel</button>
                    </div>
                  </div>
                  
            </div>