<nav aria-label="breadcrumb" class="px-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" style="cursor: pointer;"><a (click)= "on('Dashboard')">home</a></li> 
      <li class="breadcrumb-item active" aria-current="page">customers</li>
    </ol>
  </nav>

<div class="container-fluids">
    <div class="row px-3  pr - 2 mb-5">
        <div class="col">
          <div class="container">
            <input type="text" class="container__input" placeholder="Search___" />
          </div>
        </div>
        <div class="col d-flex flex-row-reverse">
            <mat-icon class="add-customer float-right"  style="font:bold;font-size: 30px;" routerLink = "new">add</mat-icon>
        </div>
    </div>
  </div>
    <table class="m-1">
      <thead>
        <tr>
          
          <th scope="col">Customer <br> Id</th>
          <th scope="col">Customer <br> Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Assign <br> Order</th>
        </tr> 
      </thead>
      <tbody>
        <tr *ngFor = "let item of customerData; index as i">
          <td data-title="Customer Id" >{{item.CustomerId}}</td>
          <td data-title="Customer Name">{{item.CustomerName}}</td>
          <td data-title="Phone" >{{item.CustomerPhone1}}</td>
          <td data-title="Status"><p style="background-color: aquamarine; text-align: center;">Added</p></td>
          <td data-title="Edit"><mat-icon routerLink="edit" style="cursor:pointer">add_box</mat-icon></td>
          <td data-title="AssignOrder"><mat-icon (click)="openDialog(item.CustomerId)" style="cursor:pointer">input</mat-icon></td>


        </tr>
        
      </tbody>
    </table>

