<nav aria-label="breadcrumb" class="px-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="cursor: pointer;"><a (click)="on('Dashboard')">home</a></li>
    <li class="breadcrumb-item" style="cursor: pointer;"><a (click)="on('customers')">customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">new</li>
  </ol>
</nav>



<div class="container-fluid p-3">
<form [formGroup]="customerForm" (ngSubmit) = "submit()">
  <div class="row mb-2">
    <div class="col-md-6">

      <mat-form-field class="example-full-width">
        <mat-label>Customer Name</mat-label>
        <input matInput placeholder="Enter name here..." (input)="TrackingName(customerForm.value.CustomerName)" formControlName="CustomerName">
      </mat-form-field>
    </div>
    <div class="col-md-6">

      <mat-form-field class="example-full-width">
        <mat-label>Customer ID</mat-label>
        <input matInput placeholder="" formControlName="CustomerId"  value="id" readonly >
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Location</mat-label>
        <input type="text" matInput formControlName="CustomerLocationUrl" placeholder="Enter Location here">
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Email ID</mat-label>
        <input matInput placeholder="Enter mail id here..." formControlName="CustomerEmail" value="">

      </mat-form-field>
      <span style="font-size:10px;" *ngIf="customerForm.errors?.email">Enter Mail Id</span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="fill">
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" matInput placeholder="Contact 1"(input)="TrackingPhone(customerForm.value.CustomerPhone1)"  formControlName="CustomerPhone1">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

    </div>

    <div class="col-md-6">

      <mat-form-field class="example-full-width" appearance="fill">
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" matInput placeholder="Contact 2" formControlName="CustomerPhone2">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Enter name here..." formControlName="CustomerAddress"></textarea>
      </mat-form-field>
    </div>


    <div class="col-md-6 mt-3">

      <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input type="date" matInput placeholder="Enter TargetDate here" formControlName="CustomerTargetDate">
      </mat-form-field>
    </div>
  </div>

  <button class="btn btn-success w-50 " [disabled] = "!customerForm.valid" style="margin-left: 25%;">Submit</button>
</form>
</div>